doctype html
head
  title AO Registration
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='css/aoregistration.css')
.container
  .heading Agricultural Officer Registration
  form(action='/aoregister' method='post')
    .card-details
      .card-box
        label Unique ID
        input#uniqueid(type='text' name='uniqueid' placeholder='Unique ID' )
      .card-box
        label.details Role 
        input#fullname(type='text' name='role' placeholder='Role')
      .card-box
        label.details User Name
        input#email(type='text' name='username' placeholder='User name')
      .card-box
        label.details First and Last Name
        input#fullname(type='text' name='fullname' placeholder='Full name')
      .card-box
        label.details Email
        input#email(type='email' name='email' placeholder='Email')
      .card-box
        label.details Phone Number
        input#phone(type='text' name='phone' placeholder='Phone number')
      .card-box
        label.details Password
        input#password(type='password' name='password')
      .card-box
        label.details Confirm password
        input#confirmpassword(type='password' name='confirmpassword')
    .circal-form
      label.circal-title Gender
      .category
      input(type='radio' name='gender')
      | Male
      input(type='radio' name='gender')
      | Female
    .button
      input#btnSubmit(type='submit' value='Register')
