doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet' href='css/approve.css')
    title Produce Update

body
    style.
        body{
          background: #0d5032;  
        }
        
        .form-style{
        text-align:center;
        color:#fff;
        font-family: Sans-serif;
        font-size: 30px;
        }
       
      label {
        display: inline-block;
        font-family: Sans-serif;
        width: 150px;
        font-weight:500; 
        font-size: 25px;
        
      }
        .form-field input, select{
            //- text-align:left;
            background: #fff;
            font-weight: 600;
            width: 300px;
            height: 60px;
            border-radius: 10px;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 20px;
            
        }

        .form-btn{
            margin-top:100px;
            margin-left:12px;
            padding:25px;

        }

        .btn{
            width:200px;
            background: red;
            padding-top:18px;
            padding-bottom:18px;
            font-size:18px;
            font-weight:500;
            margin:50px 0 40px 150px;
            border-radius: 20px

        }
     
        .btn:hover{
            
        box-shadow: 5px 8px; 
        }
        hr{
            width: 1700px;
        }

.container-fluid.form-style
    form#signup.form(action='/produce/approve/?id='+product._id name='productupdate' method='POST')
        h3 Approve Produce 
        hr
        .row
            .col
                .form-field
                    label(for='status') Status:
                    select(name='status')
                        option(value="Pending" ) Pending
                        option(value="Approved") Approved 
                .form-field
                    input.btn.btn-success(type='submit' value='Approve')
script(src='bootstrap-js/js/bootstrap.bundle.js')
