extends layout_foreg
block content
  .container
    header.heading Farmer One Registration.
    hr
    form(action='/foregister' method='post' onsubmit="return formValidatefo(event);")
      .form.first
        .details.personal
          .fields
            .input-field
              input#uniqueid(type='text' name='uniqueid' autocomplete="off" placeholder='Unique ID')
              small#uniqueidError 
            .input-field
              select#role(type='text' name='role')
                option(value='') Role
                option(value='farmerone') Farmer One
              small#roleError   
            .input-field
              input#fullname(type='text' name='fullname' placeholder='First and Last Name ')
              small#fullNameError    
            .input-field
              input#nin(type='text' name='nin' placeholder='Enter NIN')
              small#ninError  
            .input-field
              label Date of Birth
              input#dob(type='date' name='dob' max="2007-01-01" placeholder='Date of birth')
              small#dobError
            .input-field
              label Date of Registration
              input#doreg(type='date' name='doreg' placeholder='Date of registraion')
              small#doregError
            .input-field
              input#phone(type='text' name='phone' placeholder='Phone number')
              small#phoneNumberError
            .input-field
              input#password(type='password' name='password' placeholder='Password')
              small#passwordError
            .input-field
              select#gender(type='text' name='gender')
                option(value='') Gender
                option(value="Male") Male
                option(value="Female") Female
              small#genderError   
        .details.ID
          .fields
            .input-field
              label 
              select#activity(type='text' name='activity')
                option(value='') Farming activity
                option(value="Horticulture") Horticulture
                option(value="Poultry") Poultry
                option(value="Dairy") Dairy
              small#activityError
            .input-field
              label 
              select#ward(type='text' name='ward')
                option(value='') Ward
                option(value="Masajja A") Masajja A
                option(value="Masajja B") Masajja B
                option(value="Masajja C") Masajja C
                option(value="Masajja D") Masajja D
              small#wardError
            .input-field
              select#residencetype(type='text' name='residencetype')
                option(value='') Residence type
                option(value="Permanent") Permanent
                option(value="Temporary") Temporary
              small#residencetypeError
            .input-field
              input#duration(type='number' name='duration' min='10' placeholder=' Years at Residence')
              small#durationError
            .input-field
              input#address(type='text' name='address' placeholder='Home directions')
              small#addressError 
          .button
            input#btnSubmit(type='submit' value='Register')
  script(src="/JS/form_validationfo.js") 

