doctype html
head
    title Ufarm team dashboards
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS v5.2.1
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
    link(rel='stylesheet' href='css/dashboard.css')
    link(rel='icon' href='Img/favicon.png')
body
    style.

        body{
          background-color: rgb(12, 85, 12,0.76);  
        }
        .form-style{
        position:absolute;
        top:15%;  
        text-align:center;
        color:rgba(240, 220, 253);
        }
        .form-field{
            display:flex;
            justify-content:space-around;
        }
        form-zones{
        padding: 12px;
        transform: translateX(-6px);
        }

        .form-field input, select{
            text-align:center;
            background:rgba(200, 198, 253);
            
            font-weight: 800;
            margin:2px 12px;
            width: 100%;
            height: 8vh;
            border: 2px solid rgb(17, 17, 40);
            border-radius: 5px;
            padding: 0;
        }
         select:hover{
            box-shadow:0 0 6px 5px rgb(0,0,0,0.87);
            transform: scale(1.6);
            z-index: 9;
            transition: ease-in-out 0.6s
        }
        input:hover{
            box-shadow:0 0 6px 5px rgb(0,0,0,0.87);
            transform: scale(1.5);
            z-index: 9;
            transition: ease-in-out 0.6s 
        }
        .form-btn{
            transform:translateY(55px);
            margin-left:12px;
            padding:25px;
        }
        .btnz{
            background: linear-gradient(to bottom,rgba(80, 18, 123, 0.87),rgba(197, 108, 253),rgba(106, 40, 118, 0.86));
            padding-top:18px;
            padding-bottom:18px;
            font-size:18px;
            font-weight:900;
            color: rgb(11, 11, 11,0.87);
        }
        .btnz:hover{
            transform: scale(1.4);
            z-index: 9;
            transition: ease-in-out 0.8s
        }
        .btnz:hover{
           box-shadow:0 0 6px 5px rgb(0,0,0,0.87); 
        }
        h3{
            font-size:54px;
            font-weight:900;
        }
        label{
          font-weight:900;  
        } 
        hr{
            margin-bottom:45px;
            padding:12px;
             background: linear-gradient(to bottom,rgba(80, 18, 123, 0.87),rgba(197, 108, 253),rgba(106, 40, 118, 0.86));
        }
    .container-fluid.form-style
        form#signup.form(action='/farmerones/update?id='+farmerones._id name='registration' method='POST')
            h3 Update Farmer ones
            hr
            .row
                .col-lg-4
                    .form-field
                        label Unique number:
                        input(type='text' name='uniqueNumber' autocomplete='off' value=farmerones.uniqueNumber)
                .col-lg-4
                    .form-field
                        label Phone number:
                        input(type='text' name='phoneNumber' autocomplete='off' value=farmerones.phoneNumber)
                .col-lg-4
                    .form-field
                        label Activities:
                        select(name='activities')
                            option(value="Horticulture" selected = farmerones.activities === 'Horticulture') Horticulture
                            option(value="Poultry" selected = farmerones.activities === 'Poultry') Poultry 
                             option(value="Diary" selected = farmerones.activities === 'Diary') Diary   
                .form-btn
                    button.btn.btnz(class='button' type='submit') Update