doctype html
html
    head
        //- link(rel='stylesheet', href='css/styles.css')
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title Registration Form
    body
        style.
        
                body{
                background: #0d5032;  
                }
                thead {
                background: grey;
                }

                hr{
                background:#fff;
                }
                
                
        .row.justify-content-center.text-white
            div.col-md-12
                div.card-body
                    block content
    footer.row.justify-content-center
         div.col-md-6
            block footer