doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title List
    body
        style.
        
                body{
                background: linear-gradient(135deg, #108215ca, #010d04);  
                }
                thead {
                background: #0a663dca;
                }
                hr{
                background:#fff;
                } 
                img{
                    border-radius: 10px;
                } 
                th{
                    text-align: center;
                } 
                td{
                   text-align: center; 
                }                                         
        .row.justify-content-center.text-white
            div.col-md-12
                div.card-body
                    block content
    footer.row.justify-content-center
         div.col-md-6
            block footer