//- block content
//- head
//-   meta(charset='UTF-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   link(rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.0/css/line.css')
//-   link(rel='stylesheet' href='css/ufregistration.css')
//-   title UF Regisration
//- .container
//-   header.heading Urban Farmer Registration - Masajja D.
//-   hr
//-   form(action='/ufregisterD' method='post')
//-     .form.first
//-       .details.personal
//-         .fields
//-           .input-field
//-             label Unique ID.
//-             input(type='text' name='uniqueid' placeholder='Unique ID')
//-           .input-field
//-             label Role
//-             select(type='text' name='role')
//-               option(value='') Select role
//-               option(value='urbanfarmer') Urban Farmer
//-           .input-field
//-             label First and Last Name
//-             input(type='text' name='fullname' placeholder='Enter full name')
//-           .input-field
//-             label NIN
//-             input(type='text' name='nin' placeholder='Enter NIN')
//-           .input-field
//-             label Date of Birth
//-             input(type='date' name='dob' placeholder='Date of birth')
//-           .input-field
//-             label Date of Registration
//-             input(type='date' name='doreg' placeholder='Date of registraion')
//-           .input-field
//-             label Phone Number
//-             input(type='text' name='phone' placeholder='Phone number')
//-           .input-field
//-             label Password
//-             input(type='password' name='password' placeholder='Password')
//-           .input-field
//-             label Gender
//-             select(type='text' name='gender')
//-               option(value='') Select gender
//-               option Male
//-               option Female
//-       .details.ID
//-         .fields
//-           .input-field
//-             label Activity
//-             select(type='text' name='activity')
//-               option(value='') Farming activity
//-               option Horticulture
//-               option Poultry
//-               option Dairy
//-           .input-field
//-             label Ward
//-             select(type='text' name='ward')
//-               option(value='') Select ward
//-               option Masajja D
//-         .button
//-           input#btnSubmit(type='submit' value='Register')
