doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.0/css/line.css')
  link(rel='stylesheet' href='../css/ufregistration.css')
  title UF Regisration
.container
  header.heading Urban Farmer Registration
  hr
  form(action='/ufregister' method='post')
    .form.first
      .details.personal
        .fields
          .input-field
            label Unique ID.
            input(type='text' name='uniqueid' placeholder='Unique ID' required='')
          .input-field
            label Role
            select(type='text' name='role' required='')
              option(disabled='' selected='') Select role
              option(value='urbanFarmer') Urban Farmer
          .input-field
            label Full Name
            input(type='text' name='fullname' placeholder='Enter your name' required='')
          .input-field
            label NIN
            input(type='text' name='nin' placeholder='Enter NIN' required='')
          .input-field
            label Date of Birth
            input(type='date' name='dob' placeholder='Date of birth' required='')
          .input-field
            label Date of Registration
            input(type='date' name='doreg' placeholder='Date of registraion' required='')
          .input-field
            label Phone Number
            input(type='text' name='phone' placeholder='Phone number' required='')
          .input-field
            label Password
            input(type='password' name='password' placeholder='Password' required='')
          .input-field
            label Gender
            select(type='text' name='gender' required='')
              option(disabled='' selected='') Select gender
              option Male
              option Female
      .details.ID
        .fields
          .input-field
            label Activity
            select(type='text' name='activity' required='')
              option(disabled='' selected='') Farming activity
              option Horticulture
              option Poultry
              option Dairy
          .input-field
            label Ward
            select(type='text' name='ward' required='')
              option(disabled='' selected='') Select ward
              option Masajja A
              option Masajja B
              option Masajja C
              option Masajja D
        .button
          input#btnSubmit(type='submit' value='Register' onclick='validate()')
