extends layout_ufreg
block content
  .container
    header.heading Urban Farmer Registration.
    hr
    form(action='/ufregister' method='post' onsubmit="return formValidateuf(event);")
      .form.first
        .details.personal
          .fields
            .input-field
              label Unique ID.
              input#uniqueid(type='text' name='uniqueid' autocomplete="off" placeholder='Unique ID')
              small#uniqueidError 
            .input-field
              label Role
              select#role(type='text' name='role')
                option(value='') Role
                option(value='urbanfarmer') Urban Farmer
              small#roleError   
            .input-field
              label First and Last Name
              input#fullname(type='text' name='fullname' placeholder='Enter full name')
              small#fullNameError    
            .input-field
              label NIN
              input#nin(type='text' name='nin' placeholder='Enter NIN')
              small#ninError  
            .input-field
              label Date of Birth
              input#dob(type='date' name='dob' max="2012-11-22" placeholder='Date of birth')
              small#dobError
            .input-field
              label Date of Registration
              input#doreg(type='date' name='doreg' placeholder='Date of registraion')
              small#doregError
            .input-field
              label Phone Number
              input#phone(type='text' name='phone' placeholder='Phone number')
              small#phoneNumberError
            .input-field
              label Password
              input#password(type='password' name='password'  placeholder='Password')
              small#passwordError
            .input-field
              label Gender
              select#gender(type='text' name='gender')
                option(value='') Gender
                option(value="Male") Male
                option(value="Female") Female
              small#genderError   
        .details.ID
          .fields
            .input-field
              label Activity
              select#activity(type='text' name='activity')
                option(value='') Farming activity
                option(value="Horticulture") Horticulture
                option(value="Poultry") Poultry
                option(value="Dairy") Dairy
              small#activityError
            .input-field
              label Ward
              select#ward(type='text' name='ward')
                if currentUser
                option(value=currentUser.ward) #{currentUser.ward} 
              small#wardError
          .button
            input#btnSubmit(type='submit' value='Register')
  script(src="/JS/form_validationuf.js")
 

